body {
    padding-top: 60px;
    background-color: #BFD7F1;
}

h1 {
    font-family: Georgia;
    color: #97AFC9;
}
.hero-unit {
    color: #D54340;
    background-color: #FFFFFE;
}

.footer {
    color: white;
}
