{% extends "layout.html" %}

{% block body %}
            <h4>Marshmallows Page</h4>
            <br/>
            <ul>
                <li>Pistachio & honey</li>
                <li>Coconut & white chocolate</li>
                <li>Raspberry & white chocolate</li>
                <li>Pistachio</li>
                <li>Nutella & hazelnut</li>
            </ul>
            <p>Photos and descriptions of the Marshmallows. Ability to tweet or facebook like the same.
            </p>
            <br/>

{% endblock %}
